*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
	font-family: "Lato";
}


.oque-vai-levar{
	padding: 30px 0;
	text-align: center;
}

.oque-vai-levar img{
	max-width: 100%;
}

.oque-vai-levar p{
	width: 50%;
	text-align: left;
	color: #686868;
	float: left;
	padding: 8px 10px;
	font-size: 16px;
	font-weight: bold;
}

.oque-vai-levar h2{
	color: #686868;
	font-size: 19px;
}

.oque-vai-levar i{
	color: #185dbf;
}

.sucesso{
	width: 100%;
	padding: 8px 8px;
	color: #3c763d;
	background: #dff0d8;
	border: 1px solid #d6e9c6;
	text-align: center;
}

.sucesso h2{
	font-size: 19px;
}

.sucesso .close-sucesso{
	padding: 0 20px;
	display: inline-block;
	cursor: pointer;
}

.close-sucesso i{
	font-size: 26px;
	text-decoration: underline;
}

.chamada-garantia-dupla{
	background-image: radial-gradient(circle at 51% 66%, #0b3b80, #092d61 49%, #071e3f);
	color: white;
	text-align: center;
	padding: 10px 0;
}


.chamada-garantia-dupla p{
	font-weight: bold;
	font-size: 17px;
}


.float-garantia{
	width: 50%;
	float: left;
	padding: 0 20px !important;
}
html,body{
	height: 100%;
	width: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: subpixel-antialiased;
	text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
   -moz-osx-font-smoothing: grayscale !important;
}

.bonus-cursos{
	margin:15px 0;

}

.bonus-cursos h2{
	color: white;

}


body{
	overflow-x: hidden;
}

.atencao-video{
	padding: 8px 0;
	text-align: center;
}

.atencao-video span{
	font-size: 11px;
	color: #7bb3ff;
	text-transform: uppercase;
}

.texto-chamada-apresentacao{
	text-align: center;
	max-width: 1260px;
	margin:0 auto;
}

.texto-chamada-apresentacao h2{
	font-size: 23px;
	color: white;
	font-weight: normal;
}

.texto-chamada-apresentacao h2 > b{
	color:#faac15;
}


.video-container{
	float: left;
	width: 33.3%;
	padding: 0 10px;
	margin-bottom: 10px;
}

.iframe-embed{
	width: 100%;
	padding-top: 60%;
	position: relative;
}

.iframe-embed iframe{
	border: 0;
	position: absolute;
	left: 0;
	top:0;
	width: 100%;
	height: 100%;
}



.form-modal{
	padding:40px 2%;
	background: #ebebeb;
}

.chamada-modal img{
	display: block;
	margin: 0 auto;
}

.form-modal h2{
	text-align: center;
	font-size: 25px;
	font-weight: normal;
	color:  #0f346e;
}

.form-modal form{
	margin:20px 0;
	text-align: center;
}

.form-modal input[type=email]{
	width: 100%;
	height: 45px;
	border:1px solid #ccc;
	padding-left:10px;
}

.form-modal input[type=submit]{
	display: inline-block;
	border: 0;
	padding:10px;
	min-width: 350px;
	/*border-bottom: 5px solid #D99800;*/
	background:  #fab51f;
	color: #104793;
	font-weight: bold;
	font-size: 20px;
	text-transform: uppercase;
	margin-top:29px;
	cursor: pointer;
}

.modal{
	z-index: 999999;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
	position: fixed;
	display: none;
}

.box-form{
	width: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	background: white;
	transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	max-width: 780px;
}

.close{
	position: absolute;
	right: 4px;
	top: 4px;
	color: white;
	cursor: pointer;
}

.chamada-modal{
	position: relative;
	text-align: center;
	padding: 30px 2%;
	background: #0c3f8a;
}

.chamada-modal h2{
	color: white;
}

.chamada-modal p{
	color: white;
	font-weight: 300;
	font-size: 23px;
	margin:10px 0;
}


.center{
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 2%;
}

.clear{clear: both;}

header{
	padding: 14px 0;
	text-align: center;
	background: #092041;
}

section.principal{
	background-color: #0b3b80;
	background-image: url('../images/background.jpg');
	background-size: cover;
	background-position: center;

	padding: 20px 0;

}

.modulo-bonus{
	background-image: radial-gradient(circle at 50% 50%, #2066b7, #00286f);
	width: 100%;
	padding: 8px;
	border: 1px solid #378eff;
}

.modulo-bonus h2{
	text-align: center;
	color: #378eff;
	font-size: 22px;
	border-bottom: 1px solid #378eff;
	padding: 3px 0;
}

.modulo-bonus p{
	margin:8px 0;
	color: white;
	font-size: 17px;
}

.logo-fullstack{
	text-align: center;
}

.logo-fullstack img{
	max-width: 100%;
}

.video{
	margin-top: 15px;
	position: relative;
	width: 100%;
	padding-top: 60%;
}

.video iframe{
	position: absolute;
	left: 0;
	top: 0;
	border: 0;
	width: 100%;
	height: 100%;
}

.btn-chamada{
	margin-top: 16px;
}

.btn-chamada a{
	border-radius: 20px;
	display: block;
	text-align: center;
	background-image: linear-gradient(103deg, #faac15, #fab51f);
  	box-shadow: 0 11px 14px 0 rgba(0, 0, 0, 0.11), 0 -2px 0 0 #ffd988, 0 3px 0 0 #bf7e00;
  	padding: 12px 6px;
  	font-size: 20px;
  	text-transform: uppercase;
  	color: #104793;
  	text-decoration: none;
  	font-weight: bold;
}

.preco{
	text-align: center;
	margin:8px 0;
	color: white;
	font-size: 20px;
}

.line-principal{
	margin: 20px 0;
	width: 100%;
	height: 2px;
	background: #3278d7;
}

.beneficios{
	text-align: center;
}

.beneficios span{
	color: white;
	display: inline-block;
	padding: 12px 10px;
	font-size: 22px;
	font-weight: bold;
}

.beneficios span > b{
	color: #7bb3ff;
}

section.garantia{
	padding: 10px 0;
	background: #e9ebee;
}

.container-garantia img{max-width: 100%;}

.container-garantia{
	position: relative;
	text-align: center;
}

.texto-garantia{
	text-align: center;
}

.texto-garantia h2{color: #144e9c;}
.texto-garantia p{margin-top:10px;color:#4b4b4b;max-width: 650px;display: inline-block;font-size: 17px;}

section.depoimentos{
	padding: 10px 0;
	padding-bottom: 20px;
	text-align: center;
	background: #e9ebee;
}

section.depoimentos img{
	max-width: 100%;
}

section.depoimentos > .center{
	max-width: 1280px;
}

.depoimento-mobile{display: none;}

.texto-depoimentos{
	padding: 30px 0;
}

.texto-depoimentos h2{
	font-size: 25px;
	color: #144e9c;
}

.texto-depoimentos h2 > b{
	color: #397fde;
}

.texto-depoimentos p{
	display: inline-block;
	max-width: 630px;
	font-size: 19px;
	color: #7a7a7a;
}


section.tecnologias{
	text-align: center;
	padding: 30px 0;
}

.grid-tecnologias{
	text-align: left;
	display: flex;
	flex-wrap: wrap;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
}

.box-grid{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 6px 4px;
	text-align: center;
	width: 20%;
	flex-wrap: wrap;
	border-bottom:1px solid #ccc;
	border-right: 1px solid #ccc;
}

.box-grid img{
	width: 70px;
}

.box-grid p{
	width: 100%;
	padding: 8px 0;
	color: gray;
}

section.cursos-show{
	text-align: center;
	padding: 30px 0;
	background-image: radial-gradient(circle at 51% 66%, #0b3b80, #092d61 49%, #071e3f);
}

.cont-curso-single{
	float: left;
	width: 48%;
	padding: 8px;
	margin-right: 2%;
	border: 1px solid #378eff;
}

.cont-curso-single a{
	display: block;
	text-decoration: none;
	border: 1px solid white;
	color: white;
	border-radius: 9px;
	padding: 4px 8px;
	margin-top: 8px;
}

.cont-curso-single p{
	color: white;
	font-weight: bold;
	font-size: 15px;
}

.cont-curso-single img{
	width: 100%;
}




section.certificados{
	padding: 30px 0;
	background: rgb(225,225,225);
}

section.certificados h2{
	color: #0c3f8a;
	text-align: center;
	font-size: 20px;
	text-transform: uppercase;
}

section.certificados p{
	text-align: center;
	color: #7a7a7a;
	font-size: 19px;
	font-weight: bold;
}

.certificado-single{
	padding: 20px 10px;
	padding-top: 25px;
	float: left;
	width: 48%;
	margin: 0 1%;
}

.certificado-single img{
	width: 100%;
	border: 4px solid rgb(215,215,215);
}
section.hotmart-depoimentos{
	padding: 30px 0;
	text-align: center;
}


section.depoimentos-cases{
	padding: 30px 0;
	text-align: center;
}
/****SLICK SLIDER****/

.slick-dotted ul{
	list-style-type: none;
	text-align: center;
	position: relative;
	margin-top:10px;
}

.slick-dotted li{
	display: inline-block;
	margin: 0 7px;
}

.slick-dotted button:focus{
	outline: 0;
}

.slick-dotted li button{
	width: 16px;
	height: 16px;
	border-radius: 8px;
	color: #d8d8d8;
	border-width: 0;
	background: #d8d8d8;
	opacity: 1;
	cursor: pointer;
}

li.slick-active button{
	background: #0c3f8a;
	color: #0c3f8a;
}

.slick-slide:focus { outline: none; }

/**END SLICK**/
section.depoimentos-cases > .center > h2{
	color: #0c3f8a;
	text-align: center;
	font-size: 20px;
	text-transform: uppercase;
}

.slider-depoimentos{
	width: 100%;
	max-width: 700px;
	margin: 0 auto;
		overflow-x: hidden;
	overflow-y:hidden;
}

.depoimento-single h2{
	color: #444;
	font-weight: normal;
	font-size: 21px;
}

.depoimento-single p{
	font-size: 15px;
	font-weight: normal;
	color: #666;
}

.depoimento-single{

	padding:15px 0;
	border-bottom: 1px dotted rgb(220,220,220);
	display: inline-block;
}

section.hotmart-depoimentos img{
	max-width: 100%;
}
section.perguntas{
	padding: 30px 0;
}

section.perguntas h2{
	color: #0c3f8a;
	text-align: center;
	font-size: 20px;
	text-transform: uppercase;
}

.container-perguntas{
	margin-top: 25px;
	display:flex;
	flex-wrap:wrap;
}

.container-pergunta-single{
	text-align: center;
	width: 30%;
	margin-right: 3%;
	margin-top: 10px;
	border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 9px 14px 0 rgba(0, 0, 0, 0.09);
  padding: 10px;
  color: #6c6c6c;
}

.container-pergunta-single p{
	font-size: 14px;
}

section.demo-projeto{
	padding: 30px 0;
	text-align: center;
}

section.demo-projeto h2{
	color: #0c3f8a;
	text-align: center;
	font-size: 23px;
}

section.demo-projeto p{
	text-align: center;
	color: #7a7a7a;
	margin-top: 8px;
	font-size: 17px;
	font-weight: bold;
	display: inline-block;
	max-width: 960px;
}


.overlay{
	display: none;
	z-index: 9999;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
	position: fixed;
	left: 0;
	top: 0;
}

.box-modulos{
	position: absolute;
	left: 50%;
	max-width: 800px;
	top: 50%;
	width: 98%;
	height: 98%;
	position: relative;
	overflow-y: scroll;
	 -webkit-overflow-scrolling: touch;
	transform: translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	display: none;
	background: white;
}




.box-modulos h2{
	background:#0c3f8a;
	padding: 10px 70px;
	text-align: center;
	color: white;
}

.close-modulos{
	position: absolute;
	right: 8px;
	top: 8px;
	font-size: 27px;
	cursor: pointer;
	color: white;
}

.lista-modulos{
	padding: 20px 60px;
	background: white;
}

.lista-modulos p{
	color: #5f5f5f;

	font-size: 18px;
	font-weight: bold;
	padding:8px 0;
	margin-bottom: 8px;
	border-bottom: 1px solid rgb(220,220,220);

}

.container-slider{
	width: 100%;
	position: relative;
	margin: 10px auto;
	max-width: 1100px;
	overflow-x: hidden;
	overflow-y:hidden;
}

.container-slider img{
	border: 6px solid rgb(230,230,230);
	border-radius: 8px;
	width: 100%;
	max-width: 1100px;
	position: relative;
}


section.garantia-full{
	padding: 20px 0;
	background: rgb(225,225,225);
}

section.garantia-full > .center{
	display: flex;
	max-width: 960px;
	flex-wrap:wrap;
	align-items:center;
	justify-content:center;
}

section.garantia-full img{
	max-width: 100%;
	width: 30%;
}


.aviso-da-garantia{
	width: 70%;
	padding: 0 15px;
}

.aviso-da-garantia h2{

	color: #144e9c;
	font-size: 20px;
}

.aviso-da-garantia p{
	font-size: 17px;
	color: #7a7a7a;
}

.bonus-modulos-box{
	display: inline-block;
	max-width: 900px;
	background: white;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding-top: 10px;

}

.wrap-bonus{
	display: flex;
	flex-wrap: wrap;
}
.bonus-modulos-box h2{
	color: #294e83;
}

.bonus-modulos-box span{
	line-height: 36px;

	border-bottom: 6px solid #fdab15;
}

.box-bonus-modulo{
	width: 33.3%;
	padding: 20px;
	border-collapse: collapse;
	border: 1px solid #ccc;
}

.box-bonus-modulo h2{
	color: #185dbf;
	font-size: 17px;
	margin-bottom: 15px;
}

.box-bonus-modulo p{
	font-size: 15px;
	color: #5d5d5d;
}

section.chamada-final{
	padding: 40px 0;
	background-image: url('../images/background.jpg');
	background-size: cover;
	background-position: center;
}

section.chamada-final h2{
	text-align: center;
	color: #b7dcff;
}


footer{
	background: #185dbf;
	padding: 30px 0;
	color: white;
	text-align: center;
}


footer p{
	font-weight: bold;
	margin-bottom: 5px;
	font-size: 16px;
}


@media screen and (max-width: 768px){

.oque-vai-levar p{
	width: 100%;
}

.box-bonus-modulo{
	width: 100%;
}

.float-garantia{
	width: 100%;
	margin-top: 10px;
}


.video-container{
	float: none;
	display: block;
	max-width: 600px;
	width: 100% !important;
	margin-top: 15px;
	margin-right: auto;
        margin-left:auto;
}
section.garantia-full img{
	max-width: 250px;
	width: 100%;
}


.aviso-da-garantia{
	width: 100%;
	text-align: center;
	margin-top: 10px;
	padding: 0 15px;
}
.container-pergunta-single{
	width: 100%;
	margin-right: 0;
	margin-top: 10px;
}

.certificado-single{
	width: 100%;
	padding:10px 0;
	margin-right: 0;
        margin-left:0;
}

section.certificados .certificado-single:nth-of-type(1){
	margin-top:15px;
}
	.depoimento-desktop{display: none;}
	.depoimento-mobile{display: block;}
	.grid-tecnologias{
		width: 100%;
		max-width: 340px;
		display: inline-block;
	}
	.novas-tecnologias{
		width: 100%;
		max-width: 740px;
		display: inline-block;
	}

	.box-grid{
		padding: 20px 0;
		display: block;
		width: 100% !important;
		margin: 0 auto;
	}

	.beneficios span{
	color: white;
	display: inline-block;
	padding: 12px 10px;
	font-size: 22px;
	font-weight: bold;
	width: 100%;
	}
	
	.novas-tecnologias .webpack-img{
		width: 100% !important;
		max-width: 180px !important;
	}
	.novas-tecnologias .gulp-img{
		max-width: 80px !important;
	}


}



@media screen and (max-width: 580px){
	.lista-modulos{
	padding: 20px 10px 70px 20px;
	background: white;
}
	.cont-curso-single{
	margin-top: 15px;
	width: 100% !important;
	float: none;
	display: block;
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
	}


}


